@model UCP1_PAW_022_C.Models.Kasir

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kasir</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKasir" class="control-label">Id Kasir</label>
                <input asp-for="IdKasir" class="form-control" />
                <span asp-validation-for="IdKasir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaKasir" class="control-label">Nama Kasir</label>
                <input asp-for="NamaKasir" class="form-control" />
                <span asp-validation-for="NamaKasir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
